table {
  width: 90%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e1bee7;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e1bee7;
}

th {
  background-color: #f8bbd0;
  color: #333333;
  border-bottom: 2px solid #e1bee7;
}

td {
  cursor: pointer;
}

tr:hover {
  background-color: #f3e5f5;
  transition: background-color 0.3s ease;
}

table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  color: #ffffff;
}

.btn-controls {
  background-color: #ffc0cb;
  cursor: pointer;
  border-radius: 15%;
  margin: 5px 10px;
}

.btn-controls:hover {
  background-color: #fe9fad;
}
