<header>
  <button (click)="addProductVisibility = true">+ Add Product</button>
  <button (click)="addTagVisibility = true">+ Create new tag</button>
</header>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>${{ product.price }}</td>
      <td>
        <div
          *ngFor="let tag of product.tags"
          class="tag"
          [style.backgroundColor]="tag.color"
        >
          {{ tag.name }}
        </div>
      </td>
      <td>
        <button (click)="editProduct(product)" class="btn-controls">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteProduct(product.id)"
          class="btn-controls"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-add-product-form
  [(visible)]="addProductVisibility"
  [selectedProduct]="selectedProduct"
></app-add-product-form>
<app-add-tag [(visible)]="addTagVisibility"></app-add-tag>
