<div [style.display]="visible ? 'block' : 'none'" class="add-product-form">
  <div class="add-product-header">
    <h3>Add new product</h3>
    <button (click)="closeModal()" class="btn-close">✖</button>
  </div>
  <form>
    <input
      type="text"
      name="title"
      [(ngModel)]="selectedProduct.title"
      placeholder="Title"
    />
    <textarea
      name="description"
      [(ngModel)]="selectedProduct.description"
      placeholder="Description"
    ></textarea>
    <input
      type="number"
      min="1"
      name="price"
      [(ngModel)]="selectedProduct.price"
      placeholder="Price"
    />
    <div
      *ngFor="let tag of tags$ | async"
      class="tag"
      [style.backgroundColor]="tag.color"
    >
      {{ tag.name }}
      <input
        type="checkbox"
        [checked]="selectedProduct.tags.includes(tag)"
        (change)="updateTags(tag, $event)"
      />
    </div>
    <button (click)="addProduct()">Save Product</button>
  </form>
</div>
